*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
/*使ul的li浮动向左横向排列*/
.Horizontal-row{
    float: left;
}
.center-all{
    width: 70rem;
    margin: 0 auto;
}
/*.clean-float{*/
    /*content: "";*/
/*}*/